* {
  font-family: Gilroy;
  font-style: normal;
}

.main {
  width: 520px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.main h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.main_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F8F8F8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 517px;
  height: 314px;
  left: 317px;
  top: 101px;
  background: #F8F8F8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.main_blocks .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 10px;
}

.main_blocks_left {
  width: calc( 520px / 2);
  height: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding-left: 40px;
}

.main_blocks_left .credit-giver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 34px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 6px 0;
  border-radius: 5px;
  cursor: pointer;
}

.main_blocks_right {
  width: calc( 520px / 2);
  min-height: 180px;
  margin-top: 40px;
  margin-left: 40px;
}

.main_blocks_right .input {
  position: relative;
}

.main_blocks_right .input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -7px;
  left: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #494949;
}

.main_blocks_right .input label::after {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: -4px;
  content: '';
  width: 105%;
  height: 3px;
  background: #FFFFFF;
}

.main_blocks_right .input input {
  width: 200px;
  height: 34px;
  left: 595px;
  top: 180px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #494949;
  padding-left: 10px;
}

.main_blocks_right .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin-top: 10px;
}

.main_blocks_right .slider_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_blocks_right .slider_block .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #494949;
  margin-bottom: 0;
}

.main_blocks_right .slider_block .summ {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #494949;
}

.main_blocks_right .slider_range {
  margin-top: 10px;
  -webkit-appearance: none;
  height: 2px;
  outline: none;
  cursor: pointer;
  background: #B3B3B3;
  border-radius: 5px;
}

.main_blocks_right .slider_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #FFB800;
  border: 1px solid #F8F8F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.main_blocks_right .select {
  position: relative;
}

.main_blocks_right .select label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -7px;
  left: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #494949;
}

.main_blocks_right .select label::after {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: -4px;
  content: '';
  width: 105%;
  height: 3px;
  background: #FFFFFF;
}

.main_blocks_right .select .select_drop {
  width: 200px;
  height: 34px;
  left: 595px;
  top: 180px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #494949;
  padding-left: 10px;
}

.main_blocks_button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 40px;
  background: #FFB800;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main_blocks_button:hover {
  background: #f0ad04;
}

.mt-25 {
  margin-top: 25px;
}
/*# sourceMappingURL=style.css.map */